* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  /* Primary Color */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral Color */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --paragraph-size: 1rem;
}

body {
  background-color: var(--pale-blue);
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#container-summary {
  flex: 0 0 calc(100% - 30px);
  max-width: 375px;
  max-height: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 15px 0 15px;
  padding-bottom: 100px;
  border-radius: 10px;
}

#container-summary li {
  margin: 0 0 20px 0;
}

#container-summary #ilustraition-hero img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#container-summary #title-summary {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-blue);
}

#container-summary #paragraph-summary {
  font-size: var(--paragraph-size);
  font-family: 'Red Hat Display';
  font-weight: 500;
  color: var(--desaturated-blue);
  text-align: center;
  letter-spacing: 1.5px;
  width: 300px;
  max-width: 350px;
}

#container-summary #container-price {
  display: flex;
  align-items: center;
  background: var(--very-pale-blue);
  padding: 10px 20px;
  border-radius: 10px;
}

#container-summary li:nth-child(4),
#container-summary li:nth-child(5),
#container-summary li:nth-child(6) {
  flex: 0 0 calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

#container-price {
  width: 283px;
}

#container-price #price {
  margin-right: 20px;
}

#container-price img {
  margin-right: 20px;
}

#price #anual {
  font-size: 0.89rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  color: var(--dark-blue);
}

#price #value {
  font-size: 0.89rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  color: var(--desaturated-blue);
}

#container-price a {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 0.89rem;
  text-decoration: underline;
  color: var(--bright-blue);
}

#container-price a:hover {
  color: hsl(245, 83%, 69%);
  text-decoration: none;
}

#container-summary #payment {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--very-pale-blue);
  background: var(--bright-blue);
  display: block;
  padding: 20px 45px;
  width: 283px;
  border-radius: 10px;
  box-shadow: 0 30px 15px hsl(225, 100%, 94%);
}

#container-summary #payment:hover {
  background: hsl(245, 83%, 69%);
}

#container-summary #cancel {
  display: inline-block;
  margin-top: 5px;
  font-family: 'Red Hat Display', sans-serif;
  color: var(--desaturated-blue);
  font-weight: 900;
}

#container-summary #cancel:hover {
  color: var(--dark-blue);
}
